<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Все о Сахалине</title>
        {% load static %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <div id="logo_title">
                <a class="navbar-brand" href="#">Сахалин и Курилы как на ладони</a
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/достопримечательности/">Достопримечательности</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/подписчики/">Для зарегистрированных</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/история/">История</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                 <div class="col-lg-12 text-center">
                     {% block content %}
                     {{flatpage.content}}
                     {% endblock content %}
                 </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
    </body>
</html>
