{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все новости (всего: {{ posts|length }})</h1>
   <h3>{{ time_now|date:'d M Y' }}</h3>

    {% if is_not sunscriber%}
          <p class="text-centre"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
    {% endif %}


    <form action="" method="get">
        <div align="left"><h6>{{ filterset.form.as_p }}</h6></div>
        <input type="submit" value="Найти" >
    </form>
    <hr>

    {% if request.user.is_authenticated %}
        <p align="right"><span style= "font-family: Impact"><a href="{% url 'post_create' %}">Создать пост</a></span></p>
    {% endif %}

    {% if posts %}
        <table>
<!--            <tr>-->
<!--                <td>Дата создания</td>-->
<!--                <td>Заголовок</td>-->
<!--                <td>Содержание</td>-->

<!--                {% if request.user.is_authenticated %}-->
<!--                    <td>Действия</td>-->
<!--                {% endif %}-->
<!--            </tr>-->

            {% for post in category_news_list %}
            <tr>
<!--                <td>{{ post.dateCreation|date:'d M Y' }}</td>-->
                <h5><p align="left"><strong>{{ post.title|censor}}</strong> &nbsp &nbsp <small><span style= "font-family: American Typewriter">{{ post.dateCreation|date:'d M Y' }}</span></small></p></h5>
                <p align="left">{{ post.text|truncatewords:20|censor }}</p>
                <small class="fw-bold"> категории:
                      {% for category in post.category.all %}
                                  <a href="{% url 'category_list' category.id %}"> {{category}}<a/>
                      {% endfor %}
                </small>


                    {% if request.user.is_authenticated %}
                        <p align="right"><a href="{% url 'post_update' pk=post.id %}">Изменить</a>, <a href= "{% url 'post_delete' pk=post.id %}">Удалить</a> </p>
                    {% endif %}

            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
        <a href="?page=1">1</a>
        {% if page_obj.previous_page_number != 1 %}
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}